@import "mocha.css";

* {
    border: none;
    font-family: FontAwesome, Roboto Bold, Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 0px;
}

window#waybar {
    background: transparent;
    color: @text;
    transition-property: background;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background: transparent;
}
window#waybar.solo {
    background: #FFFFFF;
}
*/

.modules-center {
    background: @base;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 9999px;
    margin-left: 10px;
    margin-right: 10px;
}

.modules-right {
    background: @base;
}

.modules-right * {
    min-width: 36px;
}

.modules-right > widget:first-child > * {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.modules-right > widget:last-child > * {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

#workspaces {
    border-radius: 9999px;
    background: @base;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: @text;
    border: none;
    border-radius: 9999px;
}

#workspaces button:hover {
    background: @sky;
    color: @base;
    border: none;
}

#workspaces button.focused {
    background: @red;
    color: @base;
    border: none;
}

#workspaces button.active {
    padding: 0 15px;
    background: @mauve;
    color: @base;
    border: none;
}

#workspaces button.urgent {
    background: shade(alpha(@red, 0.7), 0.8);
    color: @base;
}

#mode {
    background: @base;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd
#gamemode
 {
    padding: 0 10px;
    color: @text;
}

#cpu,
#network,
#temperature,
#battery,
#tray {
    color: @pink;
}

#pulseaudio,
#memory,
#backlight,
#language,
#keyboard-state,
#clock {
    color: @lavender;
}

#battery.charging, #battery.plugged {
    color: @base;
    background: @green;
}

@keyframes blink {
    to {
        background: @maroon;
        color: @base;
    }
}

#battery.critical:not(.charging) {
    background: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background: @base;
}

#network.disconnected {
    background: @red;
    color: @base;
}

#pulseaudio.muted {
    background: @red;
    color: @base;
}

#temperature.critical {
    background: @red;
    color: @base;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: @peach;
    color: @base;
}

#idle_inhibitor {
    color: @overlay0;
}

#idle_inhibitor.activated {
    background: @red;
    color: @base;
}

#language {
    color: @base;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}


#keyboard-state {
    color: @base;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: @base;
}

#custom-power {
    background: @red;
    color: @base;
    padding: 0 15px;

}
