@import "mocha.css";

* {
    border: none;
    font-family: JetBrainsMono Nerd Font Bold, Roboto Bold, Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 0;
}

window#waybar {
    /* background: shade(alpha(#000000, 0.4), 1.0); */
    /* background: #000000;
    color: #ffffff; */
    color: @text;
    background-color: shade(@base, 0.9);
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
    border: none;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border: none;
}

#workspaces button.focused {
    color: @base;
    background: @maroon;
    border: none;
}

#workspaces button.active {
    color: #000000;
    background: #ffffff;
    border: none;
}

#workspaces button.urgent {
    animation-name: blink;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #f53c3c;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: #2ff924;
}

label:focus {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #8aadf4;
}

#idle_inhibitor.activated {
    animation-name: blink;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    padding: 0 10px;
}
