* {
  transition: 0.2s;
  color: #aaaaaa;
}

#window {
  /* background-color: rgba(0,0,0,0.8); */
  background-color: #000000;
  background-position: 50% 50%;
  background-size: auto 100%;
}

#input {
  background-color: alpha(#000000, 0.7);
  color: #ffffff;
  border-color:#000000;
}

#input:focus {
  background-color: #000000;
  outline-style: none;
  box-shadow: none;
  border-color:#000000;
  color: #ffffff;
}

#outer-box {
  color: #000000;
  font-family: 'FiraCodeNerdFont';
  font-weight: 600;
  font-size: 16px;
}

#entry label {
  color: alpha(#ffffff,0.9);
}

#entry:selected{
  background-color:alpha(#ffffff,0.9);
  outline: none;
}

#entry:selected label {
  color: #000000
}

#entry:hover label {
  color: #ffffff
}

list {
  margin: 16px 0;
  background-color: #ffffff
}

list #entry:hover {
  background-color:alpha(#ffffff, 0.5);
  outline: none;
}

list #entry:hover label {
  color: #ffffff
}
